<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Calculadora</title>
</head>
<body>
	<h1>Calculadora</h1>

	<h3>Insira o valor dos últimos três meses, respectivamente:</h3>

	<input type="number" name="mes1" id="mes1" placeholder="Mês 1...">
	<input type="number" name="mes2" id="mes2" placeholder="Mês 2...">
	<input type="number" name="mes3" id="mes3" placeholder="Mês 3...">

	<h3>Insira o valor da tarifa da distribuidora:</h3>
	<input type="number" name="mes1" id="mes1" placeholder="Valor da Tarifa...">

	<h3>Insira o valor da tarifa da distribuidora:</h3>
	<select name="tipo_tarifa" id="tipo_tarifa">
		<option value="">Escolha o tipo...</option>
		<option value="Comercial">Comercial</option>
		<option value="Residencial">Residencial</option>
		<option value="Industrial">Industrial</option>
	</select>

</body>
</html>